
:root {
    --principal-color: #6e8df3d3;
    --degrade-first: #6598f8;
    --degrade-second: #8EB9FC;
    --degrade-third: #8EB9FC;
    --background-color: #f3f4f6;
    --cinza: #555;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, serif;
}

body {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.container {
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 80rem;
}